<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-text-center">
    <h2><strong class="capitalize">About</strong></h2>

    <ion-row style="height: 20px"></ion-row>
    <ion-row style="height: 40px" class="ion-text-center">
      <h5>
        <strong class="capitalize">Nombre:</strong> Kevin Alfonso Jiménez Pérez
      </h5>
    </ion-row>
    <ion-row style="height: 40px" class="ion-text-center"
      ><h5>
        <strong class="capitalize">Correo:</strong> 20230920&#64;itla.edu.do
      </h5></ion-row
    >
     <ion-row style="height: 20px"></ion-row>
    <ion-img src="../../../assets/images/foto.jpg"></ion-img>
  </div>
</ion-content>
